body {
  font-family: 'Courier New', Courier, monospace;
}

/*-------------------------- THE SIDEBAR --------------------------*/
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
/* The navigation menu links */
.sidenav a {
  font-size: 14px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav p{
  color: #FFFFFF;
  font-size: 16px;
  display: block;
  padding: 0px 0px 6px 16px;
  
}

/*-------------------------- THE SIDEBAR --------------------------*/

/* Style page content */
.main {
  height: 100vh; /* Same height as the sidebar */
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.main iframe{
  pointer-events: auto;
  width: 100%;
  height: 100%;
  border: none;
}



/*-------------------------- IMG GALLERY --------------------------*/
/* if i am correct, this is the css for the image gallery */

.gallery {
  /*display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));*/
  column-count: 4;
  column-fill: balance;
  gap: 8px;
  padding: 10px;
}
.gallery img {
  width: 100%;
  margin-bottom: 8px;
  display: block;
  border-radius: 5px;
}
.videogallery {
  column-count: 4;
  /*column-fill: balance;*/
  gap: 8px;
  padding: 10px;
}

.videogallery video {
  width: 100%;
  max-width: 100%;
  margin-bottom: 8px;
  display: block;
  border-radius: 5px;
  
}
/*-------------------------- IMG GALLERY --------------------------*/