header {
  font-family: 'Courier New', Courier, monospace;
  background-color: #ffffff; /* Default background color */
  color: #111111; /* Default text color */
}
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #ffffff; /* Default background color */
  color: #111111; /* Default text color */
}
a {
  color: #111111; /* Default link color */
}

/* DARK MODE, wenn .dark-mode gesetzt */
.dark-mode body {
  background-color: #202020;
  color: #ffffff;
}
.dark-mode a {
  color: #ffffff;
}
.dark-mode header {
  background-color: #202020;
  color: #ffffff;
}
.dark-mode .sidenav {
  background-color: #202020;
  color: #ffffff;
}

/*-------------------------- THE SIDEBAR --------------------------*/
/* The sidebar menu */
.sidenav {
  height: 90%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
/* The navigation menu links */
.sidenav a {
  font-size: 14px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #818181;
}

/*-------------------------- Main Stuff --------------------------*/
h1{
  font-size: 24px;
  display: block;
  margin: 0px 0px 0px 10px;
  padding-bottom: 16px;
  padding-top: 16px;
  font-weight: normal;
  text-decoration: underline;
}
p{
font-size: 16px;
display: block;
}
p1{
font-size: 16px;
display: block;
padding: 0px 0px 6px 16px;  
}
p2{
font-size: 16px;
display: block;
margin: 0px 0px 0px 10px;
}
p3{
font-size: 16px;
display: block;
margin: 20px 0px -8px 10px;
}
p4{
font-size: 16px;
display: block;
margin: 20px 0px 20px 10px;
text-align: center;
}
img {
  pointer-events: none; /* Disable pointer events for images */
  -webkit-user-drag: none; /* Disable image dragging in WebKit browsers */
  user-select: none; /* Disable text selection */
}
button{
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.overview {
text-decoration: none;
font-size: 16px;
margin: 0px 0px 0px 10px;
}
/* Style page content */
.main {
  position: fixed; /* Fixed position */
  height: 100vh; /* Same height as the sidebar */
  width: calc(100% - 160px - 10px); /* Full height */
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 0px;
}
.main iframe{
  pointer-events: auto;
  overflow: scroll;
  width: 100%;
  height: 100%;
  border: none;
}

/*-------------------------- HOME --------------------------*/
/* The home page */
.home{
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 0px 0px 10px;
}
.home .text{
  max-width: 500px;
}
.home img{
  max-height: 400px;
  margin: 20px 10px 0px 0px;
  display: block;
  border-radius: 5px;
}
.home video{
  max-height: 400px;
  margin: 20px 10px 0px 0px;
  height: auto;
  display: block;
  border-radius: 5px;
}

/*-------------------------- ABOUT --------------------------*/
.about{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.about .text{
  max-width: 750px;
}
.about_media{
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.about img{
  max-width: 300px;
  
  margin: 20px 10px 0px 0px;
  height: auto;
  display: block;
  border-radius: 5px;
}
.about video{
  max-width: 300px;
  margin: 20px 10px 0px 0px;
  height: auto;
  display: block;
  border-radius: 5px;
}

/*-------------------------- PHOTOGRAPHY --------------------------*/
.photography{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

}
.photography .text{
  max-width: 500px;
}
.photography img{
  width: 1080px;
  margin: 20px 20px 0px 0px;
  height: auto;
  display: block;
  border-radius: 5px;
}

/*-------------------------- VIDEOGRAPHY --------------------------*/
.videography{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

}
.videography .text{
  max-width: 500px;
}
.videography video{
  width: 1080px;
  margin: 20px 20px 0px 0px;
  height: auto;
  display: block;
  border-radius: 5px;
}

/*-------------------------- CONTACT --------------------------*/
.contact{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.contact .text{
  max-width: 750px;
  height: 90vh;
}
.contact_media{
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.contact img{
  max-width: 300px;
  
  margin: 10px 10px 0px 0px;
  height: auto;
  display: block;
  border-radius: 5px;
}
.contact video{
  max-width: 300px;
  margin: 20px 10px 0px 0px;
  height: auto;
  display: block;
  border-radius: 5px;
}

/*-------------------------- FOOTER --------------------------*/
.footer{
  position: relative;
  bottom: 0; /* Same as the width of the sidebar */
  width: 100%; /* Full height */
  padding: 10px;
  text-align: center;
}

/*-------------------------- IMG GALLERY --------------------------*/
.preview_gallery{
  column-count: 4;
  column-fill: balance;
  gap: 8px;
  padding: 10px 10px 0px 10px;
}
.preview_gallery img{
  width: 100%;
  max-width: 100%;
  display: block; 
  border-radius: 5px;
  /*transition: transform 1s ease;*/
}
.hidden{
  display: none;
}
/* if i am correct, this is the css for the image gallery */
.gallery {
  column-count: 4;
  column-fill: balance;
  gap: 8px;
  padding: 8px 10px 10px 10px;
}
.gallery img {
  width: 100%;
  margin-bottom: 8px;
  display: block;
  border-radius: 5px;
}
.gallery video {
  width: 100%;
  margin-bottom: 8px;
  display: block;
  border-radius: 5px;
}
.videogallery {
  column-count: 4;
  /*column-fill: balance;*/
  gap: 8px;
  padding: 10px;
}
.videogallery video {
  width: 100%;
  max-width: 100%;
  margin-bottom: 8px;
  display: block;
  border-radius: 5px;
  
}
.home_gallery {
  column-count: 4;
  column-fill: balance;
  gap: 8px;
  padding: 8px 10px 10px 10px;
  height: 100%;
  overflow-y: hidden;
}
.home_gallery img {
  width: 100%;
  margin-bottom: 8px;
  display: block;
  border-radius: 5px;
}
.home_gallery video {
  width: 100%;
  margin-bottom: 8px;
  display: block;
  border-radius: 5px;
}
.about_gallery {
  column-count: 3;
  column-fill: balance;
  gap: 8px;
  padding: 8px 10px 10px 10px;
  height: 100%;
  overflow-y: hidden;
}
.about_gallery img {
  width: 100%;
  margin-bottom: 8px;
  display: block;
  border-radius: 5px;
}
.about_gallery video {
  width: 100%;
  margin-bottom: 8px;
  display: block;
  border-radius: 5px;
}
.toggle-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: inherit;
  padding: 4px;
}